html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid black;
}

/* #container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */

#canvas0 {
  border: 5px solid black;
}

#colorPanel {
  display: flex;
  flex-direction: row;
}

.strokeColor {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

#blackBtn { background-color: #000000; }
#brownBtn { background-color: #A52A2A; }
#redBtn { background-color: #FF0000; }
#orangeBtn { background-color: #FFA500; }
#yellowBtn { background-color: #FFFF00; }
#greenBtn { background-color: #008000; }
#blueBtn { background-color: #0000FF; }
#indigoBtn { background-color: #4B0082; }
#violetBtn { background-color: #8A2BE2; }

#sizePanel {
  display: flex;
  flex-direction: row;
}

.strokeSize {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#inviteDiv {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

#log {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
}